{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Liste Produit</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>NomProduit</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                {# <td>{{ produit.id }}</td> #}
                <td>{{ produit.nomProduit }}</td>
                <td>{{ produit.quantite }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_produit_show', {'id': produit.id}) }}">voir</a>
                    <a class="btn btn-warning" href="{{ path('app_produit_edit', {'id': produit.id}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_produit_new') }}">Create new</a> #}
{% endblock %}
