{% extends 'base.html.twig' %}

{% block title %}Depense{% endblock %}

{% block body %}
    <h1>Depense</h1>

    <table class="table">
        <tbody>
            {# <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr> #}
            <tr>
                <th>Description</th>
                <td>{{ depense.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ depense.prix }}</td>
            </tr>
            
        </tbody>
    </table>

    <div class="mb-2">
        <a class="btn btn-primary" href="{{ path('app_depense_index') }}">retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('app_depense_edit', {'id': depense.id}) }}">editer</a>
    
    </div>

    {{ include('depense/_delete_form.html.twig') }}
{% endblock %}
